{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
<style>
	.jumbotron {
		text-align: center;
	}

	.card {
	  float: center;
	  width: 25%;
	  padding: .75rem;
	  margin-bottom: 2rem;
	  border: 0;
	}
</style>
{% endblock %}

{% block content %}
<h1>Welcome Friends</h1>
<a href="#"> <img src="{% static 'catalog/home_page_sales.jpg' %}" class='img-responsive'> </a>

<div class="album text-muted">
	<div align="center">
		<!-- Use dicsort to order alphabetically -->
		{% for c in categories|dictsort:"category_name" %}
			{% if forloop.counter0 in row_start %}
				<div class="row">
			{% endif %}
						<div class="card">
							<a href="{% url 'ads' category=c %}">
								{% if c.category_img %}
							    <img src="{{ c.category_img.url }}" alt="no image uploaded"  height="150" class="img-rounded">
							  {% else %}
							    <p>No image uploaded</p>
							  {% endif %}
							</a>
							<h4>{{c.category_name}}</h4>
						</div>
			{% if forloop.counter0 in row_end %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}
