{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
<style>
	.jumbotron {
		text-align: center;
	}

	.card {
	  float: center;
	  width: 25%;
	  padding: .75rem;
	  margin-bottom: 2rem;
	  border: 0;
	}
</style>
{% endblock %}

{% block content %}
<h1>Welcome Friends</h1>
<a href="#"> <img src="{% static 'catalog/home_page_sales.jpg' %}" class='img-responsive'> </a>

<div class="album text-muted">
	<div align="center" class="container">
		{% for c in categories %}
			{% if forloop.counter0 in rows %}
				<div class="row">
			{% endif %}
						<div class="card">
							<a href="{% url 'ads' category=c %}"><img width="240" class="center-block" src="{% static 'catalog/automobiles.jpg' %}" alt="Photo not available"></a>
							<p class="card-text">{{c}} {{forloop.counter0}}</p>
						</div>
			{% if forloop.counter0 in row_end %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}

<!--
<div class="album text-muted">
	<div class="container">
		{% for r in range %}
			<div class="row">
				{% for r in range %}
				<div class="card">
					<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
					<p class="card-text">Title: </p>
				</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>
-->
