{% extends "base.html" %}

{% block styles %}
<style>
.fav_color {
  color: black;
}
</style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
  $(".fav").click(function() {
    $(this).toggleClass("fav_color");
  });
});
</script>
{% endblock %}

{% block content %}

<div class="col-sm-6">
  <h1>My Ads</h1>
  {% if my_ads %}
  <table class="table">
  <thead>
    <tr>
      <th><strong>Ad</strong></th>
      <th><strong>Loan Status</strong></th>
      <th><strong>Delete</strong></th>
    </tr>
  </thead>
  <tbody>
    {% for ad in my_ads %}
    <tr>
      <td><a href="{{ ad.get_update_url }}">{{ ad.title }}</a></td>
      <td>{{ ad.get_loan_status_display }}</td>
      <td><a href="{{ ad.get_delete_url }}"><span class="fav glyphicon glyphicon-remove"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% else %}
    <p>You do not have any ads</p>
  {% endif %}

</div>

{% endblock %}
